<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Workorder Demo Page</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <h1>Please submit your workorder here!</h1>
  <form>
    <label for="machine">Machine:</label>
    <input type="text" id="machine" name="machine"><br><br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location"><br><br>
    <p>Priority (1 for lowest, 5 for highest):</p>
    <input type="radio" id="priority1" name="priority" value="1">
    <label for="priority1">1</label><br>
    <input type="radio" id="priority2" name="priority" value="2">
    <label for="priority2">2</label><br>
    <input type="radio" id="priority3" name="priority" value="3">
    <label for="priority3">3</label><br>
    <input type="radio" id="priority4" name="priority" value="4">
    <label for="priority4">4</label><br>
    <input type="radio" id="priority5" name="priority" value="5">
    <label for="priority5">5</label><br>
    <input type="submit" value="Submit">
  </form>
  <script src="js/scripts.js"></script>
</body>
</html>